<div class="container">
    <div class="navbar-header" style="background-color: #e6ccff; height: 4em;">
        <h1 style="font-weight:bolder; padding-top: 0.2em;">@Extensions.GetAppSetting("AppName")</h1>
    </div>
</div>