<div class="container" style="margin-bottom:0.5%;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info" style="z-index: 99;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- diff : .navbar-brand 移到折疊選單內 -->
            <a class="navbar-brand" href="/Home">@Extensions.GetAppSetting("AppName")</a>
            @*<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/HomeEdit">首頁編輯<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ResearchUse">研究/使用個案<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Product">產品維護<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/CompanyInfo">公司資訊<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact">聯絡我們<span class="sr-only">(current)</span></a>
                </li>
            </ul>*@
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- .navbar-toggler-icon 漢堡式選單Icon -->
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>