@model Tuple<string, string>
<label>上傳檔案</label>
<div class="custom-file" style="margin-bottom: 16px;">
    <input type="file" class="custom-file-input" id="@Model.Item1" name="@Model.Item1">
    <label class="custom-file-label" for="@Model.Item1">@Model.Item2</label>
</div>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>