@model PRODUCT

@using (Html.BeginForm("Add", Html.ControllerName(), FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.SERIES)
            @Html.EditorForModel()
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ButtonBuilder(ButtonType.submit, "btnSave", "儲存")
            @Html.ButtonBuilder(ButtonType.button, "btnCancel", "取消")
        </div>
    </div>
}

