
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>研究＆使用案例</title>
</head>
<body>
    <div>
        研究＆使用案例
    </div>
</body>
</html>
