<div id="content"
     style="width: 100%;
            height: calc(100vh - 100px);
            background-color: #b0e0e6;
            display: inline-flex;
            background-image: url('../Content/img/HOME.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;">
    <div class="row" style="align-items: flex-end; justify-content: center; width: 100%; margin-bottom: 3%;">
        <div class="col-md-3 box"
             style="background-color: rgba(109, 204, 163, 0.9);">
            <div>
                <h4 style="font-weight:bolder; margin-top: 5%;">TimeLess Tomato</h4>
            </div>
            <div>
                <p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
            </div>
            <div id="TimeLessTomato" style="height:41px; min-height:18px; width:107px;">
                <a href="/TimeLessTomato"
                   class="link"
                   style="background-color: rgba(4, 59, 36, 0.15);">
                    <span>Read More</span>
                </a>
            </div>
        </div>
        <div class="col-md-3 box"
             style="background-color: rgba(13, 178, 107, 0.9);">
            <div>
                <h4 style="font-weight:bolder; margin-top: 5%;">WoundCare</h4>
            </div>
            <div>
                <p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
            </div>
            <div id="WoundCare" style="height:41px; min-height:18px; width:107px;">
                <a href="/WoundCare"
                   class="link"
                   style="background-color: rgba(4, 59, 36, 0.15);">
                    <span>Read More</span>
                </a>
            </div>
        </div>
        <div class="col-md-3 box"
             style="background-color: rgba(9, 119, 71, 0.9);">
            <div>
                <h4 style="font-weight:bolder; margin-top: 5%;">Research & Use</h4>
            </div>
            <div>
                <p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
            </div>
            <div id="ResearchUse" style="height:41px; min-height:18px; width:107px;">
                <a href="/ResearchUse/Index_User"
                   class="link"
                   style="background-color: rgba(4, 59, 36, 0.15);">
                    <span>Read More</span>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#ResearchUse").mouseover(function () {
            $("#ResearchUse").css("opacity", "0.6");
        });
        $("#ResearchUse").mouseout(function () {
            $("#ResearchUse").css("opacity", "1");
        });

        $("#WoundCare").mouseover(function () {
            $("#WoundCare").css("opacity", "0.6");
        });
        $("#WoundCare").mouseout(function () {
            $("#WoundCare").css("opacity", "1");
        });

        $("#TimeLessTomato").mouseover(function () {
            $("#TimeLessTomato").css("opacity", "0.6");
        });
        $("#TimeLessTomato").mouseout(function () {
            $("#TimeLessTomato").css("opacity", "1");
        });
    });
</script>

<style>
    .link {
        position: absolute;
        width: 40%;
        height: 20%;
        justify-content: center;
        align-items: center;
        display: flex;
        text-decoration: none;
        color: white;
    }

    .box {
        border: 0px;
        display: grid;
        color: white;
        font-family: Arial,Helvetica,sans-serif;
        margin: 0.5%;
        height: 35%;
    }
</style>