@model string
<div class="container-fluid">
    <div class="row" style="height: 40vh;">
        <div id="ResearchUse"
             class="col-md-6 col-sm-12 col-12 img-fluid img-thumbnail"
             style="cursor: pointer;
                    background-image: url('../Content/img/RESEARCHUSE.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    max-width: 49.5%;"
             onclick="window.location = '/ResearchUse/Index_User';">
            <h5 style="text-align: end; font-weight:bolder;">Research & Use</h5>
        </div>
        <div id="TimeLessTomato"
             class="col-md-6 col-sm-12 col-12 img-fluid img-thumbnail"
             style="cursor: pointer;
                    background-image: url('../Content/img/TIMELESS.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    max-width: 49%;"
             onclick="window.location = '/TimeLessTomato';">
            <h5 style="text-align: start; font-weight:bolder;">TimeLess Tomato</h5>
        </div>
    </div>
    <div class="row" style="height: 40vh;">
        <div id="WoundCare"
             class="col-md-6 col-sm-12 col-12 img-fluid img-thumbnail"
             style="cursor: pointer;
                    background-image: url('../Content/img/WOUNDCARE.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    max-width: 49.5%;"
             onclick="window.location = '/WoundCare';">
            <h5 style="text-align: end; font-weight:bolder;">WOUNDCARE</h5>
        </div>
        <div id="Contact"
             class="col-md-6 col-sm-12 col-12 img-fluid img-thumbnail"
             style="cursor: pointer;
                    background-image: url('../Content/img/CONTACT.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    max-width: 49%;"
             onclick="window.location = '/Contact/FeedBack';">
            <h5 style="text-align: start; font-weight:bolder;">Contact Us</h5>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#ResearchUse").mouseover(function () {
            $("#ResearchUse").find('h5').css("font-size", "2.0rem");
            $("#ResearchUse").css("opacity", "0.6");
        });
        $("#ResearchUse").mouseout(function () {
            $("#ResearchUse").find('h5').css("font-size", "1.0rem");
            $("#ResearchUse").css("opacity", "0.9");
        });

        $("#TimeLessTomato").mouseover(function () {
            $("#TimeLessTomato").find('h5').css("font-size", "2.0rem");
            $("#TimeLessTomato").css("opacity", "0.6");
        });
        $("#TimeLessTomato").mouseout(function () {
            $("#TimeLessTomato").find('h5').css("font-size", "1.0rem");
            $("#TimeLessTomato").css("opacity", "0.9");
        });

        $("#WoundCare").mouseover(function () {
            $("#WoundCare").find('h5').css("font-size", "2.0rem");
            $("#WoundCare").css("opacity", "0.6");
        });
        $("#WoundCare").mouseout(function () {
            $("#WoundCare").find('h5').css("font-size", "1.0rem");
            $("#WoundCare").css("opacity", "0.9");
        });

        $("#Contact").mouseover(function () {
            $("#Contact").find('h5').css("font-size", "2.0rem");
            $("#Contact").css("opacity", "0.6");
        });
        $("#Contact").mouseout(function () {
            $("#Contact").find('h5').css("font-size", "1.0rem");
            $("#Contact").css("opacity", "0.9");
        });
    });
</script>