<div class="row">
    <div class="col-md-12">
        <h1>Wound Care</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var t in Extensions.GetEnumList<DocType>())
        {
            @Html.ActionLink(t.GetDescription(), "Index", "ProductRS", new { xSERIES = "WOUNDCARE", xDOCTYPE = t.ToString() }, new { @class = "btn btn-primary" })
            <span>&nbsp;</span>
        }
    </div>
</div>
